In [1]:
print("hello world")

hello world

In [9]:
# taking input in python
a = int(input("enter a number"))
b = int(input("enter another number"))     
print(a*b)

enter a number 5
enter another number 6

30

In [12]:
a= 5-3*6//2+8/6*4
print(a)

1.333333333333333

In [13]:
8/6*(4-8)//(5+9)*6
print(a)

1.333333333333333

In [1]:
6**2-8/3*8+5*9

59.66666666666667

In [11]:
# fint area of triangle
b = int(input("base"))
h = int(input("hight"))
print("area of triangle=",1/2*b*h)

base 7
hight 5

area of triangle= 17.5

In [10]:
b = int(input("base"))
h = int(input("hight"))
print("area of triangle=",1//2*b*h)

base 7
hight 5

area of triangle= 0

In [12]:
b = int(input("base"))
h = int(input("hight"))
print("area of triangle=",b*h//2)

base 7
hight 5

area of triangle= 17

In [15]:
# find simple interest
p = int(input("enter the principal"))
r = int(input("enter the rate"))
t = int(input("enter the time"))
print("simple interest",p*r*t/100)

enter the principal 1800
enter the rate 12
enter the time 5

simple interest 1080.0

base 5
hight 7

area of triangle= 17 area of triangle= 17&

In [18]:
 a = """welcome to coding blocks 
          data analytics course 
          """
print(a)
# escape sequence 
b = "abc\ndef"
c= "ganesh\tkaif"
print(b)
print(c)

welcome to coding blocks
         data analytics course

abc
def
ganesh	kaif

In [19]:
a = int(input("enter the number"))
if(a/3==0):
    print("multiple of three")
else:
    print("not multiple of three")

enter the number 5

not multiple of three

In [20]:
# multiple condition
marks = int(input("enter the marks"))
if(marks>=90):
    print("A+")
elif(marks>=85):
    print("A")
elif(marks>=75):
    print("B")
elif(marks>=65):
    print("C")
else:
    print("fail")

enter the marks 65

C

In [23]:
a = int(input("enter a number")) 
b = int(input("enter a number")) 
c = int(input("enter a number")) 
if(a>=b and a>=c):
    print(a)
elif(b>=a and b>=c):
    print(b)
else:
    print(c)

enter a number 48
enter a number 75
enter a number 12

75

In [27]:
a = int(input("enter a number")) 
b = int(input("enter a number")) 
c = int(input("enter a number")) 
if(a==b*c):
    print(a)
elif(b==a*c):
    print(b)
elif(c==a*b):
    print(c)
else:
    print("no anyone")

enter a number 8
enter a number 16
enter a number 2

16

In [28]:
#while loop statement
count = int(input("enter a num"))
while(count<=10):
    print(count)
    count+=1

enter a num 2

2
3
4
5
6
7
8
9
10

In [31]:
count = int(input("enter a num"))
while(count<=20):
     print(count)
     count+=2

enter a num 2

2
4
6
8
10
12
14
16
18
20

a = int(input("enter a number")) 
b = int(input("enter a number")) 
c = int(input("enter a number")) 
if (a>=b and a >=c):
elif(b>=a and b>=c):
print(b)
else:
print(c)

In [8]:
#modulous
a =12
b=3
print(a%b)

0

In [9]:
a =16
b =5
print(a%b)

1

In [1]:
#COUNT THE NUMBER
n= int(input("enter a number"))
count=0
while(n>0):
    count +=1 
    n=n//10
print(count)

enter a number 475868

6

In [4]:
#REVERSE THE NUMBER
n=int(input("enter a number"))
rev=0
while(n>0):
  rem = n%10
  n=n//10
  rev=rev*10+rem
print(rev)

enter a number 30467

76403

In [7]:
a=10
b=20
#swap1
c=a
a=b
b=c
print(a,b)

20 10

In [9]:
r=1 
c=1
while(r<=4):
    c=1
    while(c<=r):
        print("*",end=" ")
        c+=1
    r+=1
    print()

*
* *
* * *
* * * *

In [2]:
r=1 
c=1
while(r<=5):
    space=1
    while(space<= 5-r):
        print(" ",end="")
        space+=1
    c=1
    while(c<=r):
       print("*",end=" ")
       c+=1
    print()
    r+=1

    *
   * *
  * * *
 * * * *
* * * * *

In [9]:
for r in range(6):
    for c in range(r):
        print("*",end=" ")
    print()

*
* *
* * *
* * * *
* * * * *

In [6]:
#prime number
n= int(input("enter a number"))
f=0
for i in range(2,n):
    if(n%i==0):
        f=1
        print("not primr")
        break
if(f==0):
    print("prime")

enter a number 14

not primr

In [11]:
def add(a,b,c=0):
    return a+b+c
print(add(2,3))
print(add(5,8,4))

5
17

In [15]:
def largestofthree(a,b,c=0):
    if(a>=b and a>=c):
      return a
    elif (b>=a and b>=c):
      return b
    else:
      return c
print(largestofthree(2,8,13))

13

In [5]:
#multiple of three
def number(n):
    if (n%3==0):
        return True
    else:
        return False
n= int(input("enter a number"))
if(number(n)):
    print("multiple of three")
else:
    print("not multiple of three")

enter a number 55

not multiple of three

In [2]:
row=int(input("enter a  number"))
for r in range (row):
    for c in range(row -r):
        print("*",end="")
    print()

enter a  number 4

****
***
**
*

In [2]:
row = int(input("enter a  number"))
for r in range (row):
    for s in range(r):
        print("",end=" ")
    for c in range(row -r):
        print("*",end=" ")
    print()

enter a  number 5

* * * * *
 * * * *
  * * *
   * *
    *

In [6]:
row=int(input ("enter a number"))
count=1
for r in range (row):
    for c in range(r):
        print(count,end = " ")
        count+=1
    print()

enter a number 6

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

In [15]:
row=int(input("enter a number"))
start ="A"
for r in range (row):
    for c in range(r):
         print(start,end ="")
         start= chr(ord(start)+ 1)
    print()

enter a number 5

A
BC
DEF
GHIJ

In [1]:
def isNegative(n)->bool:
     return n <0
a = isNegative(-5)
print(a)

True

In [4]:
#lambda function
a= lambda n: n%2==0
print(a(2))

True

In [9]:
a= lambda n: n%2==0
print(a(3))
mul =lambda a,b: a*b
print(mul(3,3))

False
9

In [16]:
#find the fibonacii series 0,1,1,2,3,5,8,13
def fib(n) ->int:
    a,b =0,1
    if n==1:
        return a
    elif n==2:
        return b
    for i in range(n-1):
        a,b =b,a+b
    return a
n = fib(8)
print(n)

13

In [28]:
#string
s= "hello world"
print (s)
print(s[0],s[-11])
print (s[10],s[10])
#s[0]='a' does not support assingment
s+= "coding block"
print(s)

#print(s.replace("coding block","python"))
print(s. capitalize())
print(s.upper())
s.count("l")

hello world
h h
d d
hello worldcoding block
Hello worldcoding block
HELLO WORLDCODING BLOCK

4

In [19]:
row=int(input("enter a number"))
for r in range (row):
    for s in range (r):
        print("", end= " ")
    for c in range (row - r):
     print("*",end=" ")
    print()

enter a number 5

* * * * *
 * * * *
  * * *
   * *
    *

In [21]:
row = int (input("enter a number"))
count=1
for r in range (row):
    for c in range(r):
        print(count,end=" ")
        count+=1
    print()

enter a number 9

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15
16 17 18 19 20 21
22 23 24 25 26 27 28
29 30 31 32 33 34 35 36

row=int(input("enter a number"))
start="A"
for r in range(row):
    for c in range(r):
        print(start,end="")
        start=chr(ord(start)+1)
    print()

In [2]:
a =lambda n: n%2==0
print(a(2))

True

In [8]:
a= lambda n: n%2==0
print(a(3))
mul= lambda a,b:a*b
print(mul(3,3))

False
9

In [14]:
a=lambda n: n %9==0
print(a(9))
mul=lambda a,b:a*b
print(mul(9,9))

True
81

In [3]:
number = [11,20,31,40,51,60,71,80,91,100]
def even(x):
    return x % 2 == 0

evens = list(filter (even , number))
print("Even numbers:",evens)

Even numbers: [20, 40, 60, 80, 100]

In [1]:
numbers = [11,20,31,40,51,60,71,80,91,100]
evenn = list(filter(lambda x: x % 2 == 0 , numbers))
print("Even numbers grether than 50:",evenn)

Even numbers grether than 50: [20, 40, 60, 80, 100]

In [2]:
#string
s= "hellow world"
print (s)
print(s[0],s[-11])
print(s[10],s[10])
#s[0]='a' does not support assingment
s+= "coding block"
print(s)

#print(s.replace("coding block","python"))
print(s. capitalize())
print (s.upper())
s.count("1")

hellow world
h e
l l
hellow worldcoding block
Hellow worldcoding block
HELLOW WORLDCODING BLOCK

0

In [16]:
#abcba
s= "abcba"
print(s[0:5])
print(s[1:1])
print(s[0:5:2])
print(s[4:0:1])
print(s[-2:-4:1])

abcba

aca

In [25]:
#abcd
s= input("enter string")
stx=1
for edx in range(2,len(s)+1):
    print(s[stx:edx])

enter string abcd

b
bc
bcd

In [28]:
s= input("enter string")
stx=2
for edx in range(3,len(s)+1):
    print(s[stx:edx])

enter string abcd

c
cd

In [31]:
s=input("enter string")
stx=3
for edx in range (4,len(s)+1):
    print(s[stx:edx])

enter string abcd

d

In [32]:
s= input ("enter a number")
for stx in range(0,len(s)):
    for edx in range(stx +1,len(s)+1):
        print(s[stx:edx])

enter a number abcd

a
ab
abc
abcd
b
bc
bcd
c
cd
d

In [10]:
#abcdcba
s =input("enter a number")
for stx in range (0,len(s)):
    for edx in range(stx +1,len(s)+1):
        print(s[stx:edx])

enter a number abcdcba

a
ab
abc
abcd
abcdc
abcdcb
abcdcba
b
bc
bcd
bcdc
bcdcb
bcdcba
c
cd
cdc
cdcb
cdcba
d
dc
dcb
dcba
c
cb
cba
b
ba
a

In [13]:
s = input("enter string")
stx=0
for edx in range(1,len(s)+1):
    print(s[stx:edx])

enter string abcd

a
ab
abc
abcd

In [15]:
s = input("enter string")
for stx in range(0,len(s)):
   for edx in range(stx +1,len(s)+1):
     print(s[stx:edx])

enter string abcd

a
ab
abc
abcd
b
bc
bcd
c
cd
d

In [17]:
light="green"
if(light=="red"):
   print("stop")
elif (light=="green"):
    print("go")
elif(light=="yellow"):
    print("look")

else:
    print("light is broke")

go

In [1]:
s= input("enter string")
stx=0
for edx in range (1,len(s)+1):
    print(s[stx:edx])

enter string abcd

a
ab
abc
abcd

In [7]:
s = input("enter string")
stx=1
for edx in range (2,len(s)+1):
    print(s[stx:edx])

enter string abcd

b
bc
bcd

In [9]:
s= input ("enter string")
stx=2
for edx in range (3,len(s)+1):
    print(s[stx:edx])

enter string abcd

c
cd

In [13]:
s= input ("enter string")
stx=3
for edx in range (4,len(s)+1):
    print(s[stx:edx])

enter string abcd

d

In [2]:
#factorial
def fact(n):
    ans=1
    for i in range(1,n+1):
        ans*=i
    return ans
print(fact(6))

720

In [3]:
def fact(n):
    ans=1
    for i in range(1,n+1):
        ans*=i
    return ans
print(fact(5))

120

In [6]:
#string slicing
marks=[4,6,5,7,8,9]
print(marks)
print(type(marks))
print(marks[1])
print(marks[2])

[4, 6, 5, 7, 8, 9]
<class 'list'>
6
5

In [2]:
marks=[3,2,4,6,7,8]
print(marks)
print(type(marks))
print(marks[3])
print(marks[2])

[3, 2, 4, 6, 7, 8]
<class 'list'>
6
4

In [6]:
def reverse_string(s):
  s= list(s)
  start, end=0,len(s)-1
  reverse_word(s, start, end)
  start = end = 0

In [1]:
# count charater ,digit ,symbol
def find_digits_chars_symbols(sample_str):
    char_count= 0
    digit_count= 0
    symbol_count= 0
    for char in sample_str:
        if char. isalpha():
            char_count+= 1 
        elif char. isdigit() :
            char_digit =1
        else:
            symbol_count+=1
    print("chars",char_count,"digits",digit_count,"symblos", symbol_count)
samble_str ="ggdsa5432$%$%@456"
print("total count of chars,digits,symbols\n")
find_digits_chars_symbols(sample_str)

total count of chars,digits,symbols

NameError: name 'sample_str' is not defined

In [2]:
#string even lenht
a= input ("enter string")
s= a. split(" ")
for i in s :
    if len (i)%2==0:
        print(i)

enter string 543

In [17]:
str  ="Ganesh"
print(str[::-1])

hsenaG

In [15]:
#reverse string
def reverse_string(str):
    str1=""
    for i in str:
        str1= i + str1
    return str1
str= "sekar"
print("the original string is :",str)
print("the reverse string is :", reverse_string(str))

the original string is : sekar
the reverse string is : rakes

In [1]:
# lenth of string
str =input ("enter a string")
def string_lenght(str):
    count= 0
    for char in str:
        count+= 1
    return count
print (string_lenght(str))

enter a string "khgffccfvf"

12

In [4]:
def remove(s,i):
    ns = a[:i] + a[i+1:]
    return ns
a = "ganeshdkaisugs"
print(len(a))
print(remove(a,5))

14
ganesdkaisugs

In [5]:
s="   abcd   "
print(s.strip())

abcd

In [11]:
s="hello world coding ganeshkumar"
s= s.split()
max_len=0
ans=""
for i in s:
    if(len(i) > max_len):
        max_len =len(i)
        ans=i
print(max_len, ans)

11 ganeshkumar

In [8]:
s="11363453637422311"

Find words which are greater than given length k

In [ ]:
s= input("enter string")
s= s. split()

In [1]:
s= "ganesh"
print(s[:-2:-1])

h

In [4]:
s="ganesh"
print(s[:-3:-1])
print(s[:4:1])
a = s[-1:-3:-1] + s[:4]
print(a)

hs
gane
hsgane

In [10]:
#list
l=[1,2,3]
print(l)

[1, 2, 3]

In [11]:
l=[1,2,3]
print(type(l))

<class 'list'>

In [12]:
l=[1,2,3]
print(type(l))
for i in l:
    print(i)

<class 'list'>
1
2
3

In [18]:
#slincing in list
l=[1,2,3,4,5,6,7,8]
print(l[-1::-1])
sq=[]
for i in l:
    sq.append(i**2)
print(sq)

[8, 7, 6, 5, 4, 3, 2, 1]
[1, 4, 9, 16, 25, 36, 49, 64]

In [20]:
l=[1,2,3,4,5,6,7,8]
largest =0
for i in l:
    if (largest< i):
        largest= i
print(largest)

8

In [1]:
def fib(n):
    l=[]
    a,b=0,1
    while n>0:
        l.append(a)
        a,b = b, a+b
        n-=1
    return l
l=fib(10)
print(l)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [4]:
#sort
l=[1,4,8,3,5,9]
l.sort()
print(l)

[1, 3, 4, 5, 8, 9]

In [10]:
#append
l= [1,2,3,4,5,6,7,8]
l.append(9)
print(l)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [18]:
l= [1,2,3,4,5]
l1=[6,7,8]
l.extend(l1)
print(l)

[1, 2, 3, 4, 5, 6, 7, 8]

In [19]:
l=[1,5,3,6,7,8]
l.insert(3,4)
print(l)

[1, 5, 3, 4, 6, 7, 8]

In [25]:
l=[1,3,5,7,8]
l.pop(1)
print(l)

[1, 5, 7, 8]

In [28]:
l=[1,6,8,4,7]
l.clear()
print(l)

[]

In [14]:
l=[2,4,7,8,9,4]
c=l.count(8)
print(c)

1

In [33]:
l=[1,2,3,4,5,6,7]
l.reverse()
print(l)

[7, 6, 5, 4, 3, 2, 1]

In [35]:
l=[2,3,4,5,6]
l.copy()
print(l)

[2, 3, 4, 5, 6]

In [36]:
l=[1,3,4,5,9]
l.remove(5)
print(l)

[1, 3, 4, 9]

In [57]:
l=[-3,-7,-5,-8]
ps=[]
for i in l:
    ps.append(i*-1)
print(ps)

[3, 7, 5, 8]

In [58]:
#negative to positive
l=[-2,-5,5,8,7,-1,11,-9]
l1=[]
for i in l:
    l1.append(abs(i))
print(l1)

[2, 5, 5, 8, 7, 1, 11, 9]

In [3]:
l=[-2,-5,5,8,7,-1,11,-9]
l1=[]
for i in l:
    if(i>0):
        l1.append(i)
print(l1)

[5, 8, 7, 11]

In [4]:
l=[-2,-5,5,8,7,-1,11,-9]
l2=[]
for i in l:
    if(i<0):
        l2.append(i)
print(l2)

[-2, -5, -1, -9]

In [10]:
#PRIME
def isprime(n):
    if(n<=0):
        return False
    for i in range(2,n):
          if (n%i==0):
              return False
    return True
l=[-2,-5,5,8,7,-1,11,-9]
l3=[]
for i in l:
    if(isprime(i)):
        l3.append(i)
print(l3)

[5, 7, 11]

In [2]:
l=[1,2,3,4]
i=len(l)-1
a=l[i]
while(i>=0):
    l[i]=l[i-1]
    i-=1
l[0]=a    
print(l)

[4, 1, 2, 3]

In [7]:
l=[1,2,3,4,5,6,7,8]
left=0
right=len(l)-1
while(left<right):
    l[left],l[right]=l[right],l[left]
    left+=1
    right-=1
print(l)

[8, 7, 6, 5, 4, 3, 2, 1]

In [13]:
def reverse(start,end,l):
    left=start
    right=end
    while(left<right):
        l[left],l[right]=l[right],l[left]
        left+=1
        right-=1
l=[1,2,3,4,5,6,7,8]
reverse(6,7,l)
reverse(0,5,l)
reverse(0,7,l)
print(l)

[7, 8, 1, 2, 3, 4, 5, 6]

In [15]:
#list comprehension
l=[i for i in range(5)]
print (l)

[0, 1, 2, 3, 4]

In [19]:
l= [1,2,3,4,5]
#l1=[]
#for i in l:
#  L1.APPEND(i**2)
l1=[i**2for i in l if i%2==0 ]
print(l1)

[4, 16]

<>:5: SyntaxWarning: invalid decimal literal
<>:5: SyntaxWarning: invalid decimal literal
C:\Users\91638\AppData\Local\Temp\ipykernel_20960\3831447879.py:5: SyntaxWarning: invalid decimal literal
  l1=[i**2for i in l if i%2==0 ]

In [2]:
x=[1,2,3]
y=[4,5,6]
for i in x:
    for j in y:
        print((i,j),end=" ")

(1, 4) (1, 5) (1, 6) (2, 4) (2, 5) (2, 6) (3, 4) (3, 5) (3, 6)

In [4]:
cord=[(i,j)for i in x for j in y]
print(cord)

[(1, 4), (1, 5), (1, 6), (2, 4), (2, 5), (2, 6), (3, 4), (3, 5), (3, 6)]

In [22]:
#find maximum of two no.
def minimum(a,b):
    if a <=b:
        return a
    else:
        return b
print(minimum (2,4))

2

In [23]:
def minimum(a,b):
    if a >=b:
        return a
    else:
        return b
print(minimum (2,4))

4

In [25]:
#checking the exting list
l=[1,2,4,6,7,8]
i=8
if i in l:
    print("exting")
else:
    print("not exting")

exting

In [26]:
l=[1,2,4,6,7,8]
i=9
if i in l:
    print("exting")
else:
    print("not exting")

not exting

In [30]:
#largest elewment
a=[1,6,9,4,7,3]
a.sort()
print("largest element is:",a[-1])

largest element is: 9

In [38]:
#even no.
list=[2,5,7,9,8,4]
for i in list:
    if i%2==0:
         print(i,end="  ")

2  8  4

In [3]:
l=[1,4,3,6,7,8,5,]
count=0
i=0
while i<len(l):
    count+=l[i]
    i+=1
ave=count/len(l)
print("sum ",count)
print("average",ave)

sum  34
average 4.857142857142857

In [9]:
#odd no.
l=[11 ,12,45,66,77,98]
for num in l:
    if num % 2 !=0:
       print(num, end="  ")

11  45  77

In [40]:
#print even and odd
l=[11,46 ,12,45,66,77,98]
even_count, odd_count=0,0
for num in l:
    if num % 2 ==0:
        even_count+=1
    else:
        odd_count+=1
print("even number in the list:", even_count)
print("print odd number in the list:",odd_count)

even number in the list: 4
print odd number in the list: 3

In [48]:
#sum list
def sum_list(item):
    sum_number = 0
    for x in item:
        sum_number += x
    return sum_number
print(sum_list([1,3,-8]))

-4

In [51]:
def sum_list(item):
    sum_number = 0
    for i in item:
         sum_number +=i
    return sum_number
print(sum_list([1,4,7,9,-6]))

15

In [4]:
# print maximum no. lin list
def max_num_in_list(list):
    max=list[0]
    for i in list:
        if i >max:
            max=i
    return max
print(max_num_in_list([1,2,5,6,8,9]))

9

In [10]:
#print positive no.in range
start, end = -1 ,19
for num in range(start, end + 1):
    if num >= 0:
       print(num, end="  ")

0  1  2  3  4  5  6  7  8  9  10  11  12  13  14  15  16  17  18  19

In [22]:
#print negative no.in range
start, end = -5,9
for num in range(start, end + 1):
    if num <= 0:
       print(num, end="  ")

-5  -4  -3  -2  -1  0

In [23]:
start, end = -1,19
for num in range(start, end + 1):l=[]
    if num <= 0:
       print(num, end="  ")

-1  0

In [37]:
#print pos and neg no.
l =[2,5,9,-7,-1]
pos_count,neg_count=0,0
for num in l:
    if num>=0:
        pos_count +=1
    else:
        neg_count +=1
print("postive number in the list:", pos_count)
print("negative number in the list:",neg_count)

postive number in the list: 3
negative number in the list: 2

In [10]:
#remove the multiple of even no.
l=[12,13,14,15,16,17,19]
for i in l:
     if i % 2 == 0:
         l.remove(i)
print(l)

[13, 15, 17, 19]

In [1]:
#swap
def swapPositions(l , pos1, pos2):
    l[pos1],l[pos2] =l[pos2],l[pos1]
    return l
l = [23,55,87,46]
pos1,pos2 = 1,3

print(swapPositions(l,pos1-1,pos2-1))

[87, 55, 23, 46]

In [11]:
#length of list
l=[11,55,77,88]
n=len(l)
print(l)

[11, 55, 77, 88]

In [7]:
l=[33,66,88,99,2,7,3,6,]
n=len(l)
print ("find the lemght of is:",n)

find the lemght of is: 8

In [10]:
#swap first and last element
def swapl(newl):
    size = len(newl)
    temp=newl[0]
    newl[0]=newl[size-1]
    newl[size-1]=temp
    return newl
newl=[12,44,66,77]
print(swapl(newl))

[77, 44, 66, 12]

In [14]:
def swapl(newl):
    newl[0],newl[-1]= newl[-1],newl[0]
    return newl
newl=[12,35,9,56,24]
print(swapl(newl))

[24, 35, 9, 56, 12]

In [17]:
def swapl(newl):
    newl[0],newl[-1]=newl[-1],newl[0]
    return newl
newl=[12,4,6,8,99]
print(swapl(newl))

[99, 4, 6, 8, 12]

In [2]:
p=input()
l=len(p)>8
c,s,d= False,False,False
##capital letter ascii 65-90
##small letter ascii 97-122
##digit ascii 48-57
for i in p:
     if (ord(i)>=97 and ord(i)<=122):
            s=True
     elif(ord(i)>=65 and ord(i)<=90): 
            c=True
     elif(ord(i)>=48 and ord(i)<=57):
            d= True
if (l and c and s and d):
    print("valid password")
else:
    print("not valid")

 Lucknow@CB5G

valid password

In [4]:
l=(2,)
print(type(l))

<class 'tuple'>

In [12]:
t=(2,4,5,8,9,0)
print(type(t),t[5])
for i in t:
   print(i)

<class 'tuple'> 0
2
4
5
8
9
0

In [15]:
name,age,gender =("ganesh",20,"male")
print(name,age,gender)

ganesh 20 male

In [21]:
#dictionary
d={"username":"ganesh_440","Password":"Lucknow@CB4G"}
print(d)

{'username': 'ganesh_440', 'Password': 'Lucknow@CB4G'}

In [27]:
login_info = []
for i in range(2):
    u= input
    p= input
    s= {u:p}
    login_info.append(d)
print (login_info)

[{'username': 'ganesh_440', 'Password': 'Lucknow@CB4G'}, {'username': 'ganesh_440', 'Password': 'Lucknow@CB4G'}]

In [17]:
d={
    "name":"ganesh",
    "age":20,
    "mobil":12345,
    123:"python"
}
#print(d.keys)
for i in d.values():
    print(i)

ganesh
20
12345
python

In [6]:
d={(
     "name":"ganesh",
     "age":20,
     "mobil":12345,
     123:"python"
)}
#print(d.keys)
for i in d.values():
    print(i)
d{}

SyntaxError: invalid syntax (3472777691.py, line 2)

In [1]:
l=[2,4,5,8,0,1,7]
l=list(filter(lambda x: x%2!=0, 1))
print(l)

TypeError: 'int' object is not iterable

In [14]:
l=[2,4,5,8,0,1,7]
list(map( lambda x: x**3 , 1))

TypeError: 'int' object is not iterable

In [2]:
l=[2,4,5,8,0,1,7]
l=list(map(lambda x: x%2!=0, 1))
print(l)

TypeError: 'int' object is not iterable

In [6]:
dict = {"user" :"abc",
        "password":12345,
        "name":"codin_blocks"}
for k,v in dict.items():
     print(k,v)

user abc
password 12345
name codin_blocks

In [30]:
#2d list
l =[[1,2,3],
    [4,5,6],
    [7,8,9]]
print(l[0][2],l[2][1])

3 8

In [41]:
l =[[1,2,3],
    [4,5,6],
    [7,8,9]]
for i in l[2]:
    print(i)

7
8
9

In [42]:
l =[[1,2,3],
    [4,5,6],
    [7,8,9]]
for i in l[0]:
    print(i)

1
2
3

In [43]:
l =[[1,2,3],
    [4,5,6],
    [7,8,9]]
for i in l[1]:
    print(i)

4
5
6

In [47]:
l =[[1,2,3],
    [4,5,6],
    [7,8,9]]
for i in l[0]:
    print(i)
for i in l[1]:
    print(i)
for i in l[2]:
    print(i)

1
2
3
4
5
6
7
8
9

In [50]:
l =[[1,2,3],
    [4,5,6],
    [7,8,9]]
for j in range(3):
    for i in l[j]:
       print(i, end=" ")

1 2 3 4 5 6 7 8 9

In [52]:
l =[[1,2,3],
    [4,5,6],
    [7,8,9]]
for j in range(3):
    for i in l[j]:
        print(i,end=" ")
    print()

1 2 3
4 5 6
7 8 9

In [53]:
l =[[1,2,3],
    [4,5,6],
    [7,8,9]]
[l[i][j]for i in range(len(l[j])) for j in range(len(l))]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [54]:
l1= ["coding","block","indira","nagar",]
for idx, val in enumerate(l1):
    print(idx, val)

0 coding
1 block
2 indira
3 nagar

In [55]:
x= [1,3,5,8,9]
y= [7,2,9,1,5]
#zip function
for i,j in zip(x,y):
    print(i,j)

1 7
3 2
5 9
8 1
9 5

In [56]:
x= [1,3,5,8,9]
y= [7,2,9,1,5]
cord = [(i,j) for i,j in zip(x,y)]
print(cord)

[(1, 7), (3, 2), (5, 9), (8, 1), (9, 5)]

In [10]:
l=[9,3,"coding","block",2,4]
list(map(type,l)).count(str)

2

In [12]:
fr={"banana":10,
    "apple":15,
    "orange":20}
key = fr.keys()
print(key)

dict_keys(['banana', 'apple', 'orange'])

In [13]:
fr={"banana":10,
    "apple":15,
    "orange":20}
key =list(fr.keys())
print(key)

['banana', 'apple', 'orange']

In [ ]:
fr={"banana":10,
    "apple":15,
    "orange":20}
print = fr.gets(orange)
print(fr)
total_fr=0
for i in fr:
    total fr

In [24]:
fr={"banana":10,
    "apple":15,
    "orange":20}
value = list(fr.values())
sum=0
for i in value:
    sum+=i
print(sum)

45

In [28]:
fr={"banana":10,
    "apple":15,
    "orange":20}
items = list(fr.items())
print(items)

[('banana', 10), ('apple', 15), ('orange', 20)]

In [35]:
data={
    "fr":{"banana":10,
    "apple":15,
    "orange":20},
    "veg":{"potato":15,
           "tomato":25,
           "carrot":30}
}
print(data.get("veg").get("tomato"))
print(data["veg"]["tomato"])

25
25


for key, value in data.items():
     print(key,value)
     for chid_k,child_v in data[key].items():
         print(child_k,chid_v)

In [42]:
fr={"banana":10,
    "apple":15,
    "orange":20}
#adding new keys into dict
fr["grapes"]=5

key = list(fr.keys())
key.sort()
print(key)
#creatinf new dict having sorted key
new_fr={}
for k in key:
    new_fr[k]= fr[k]
print (new_fr)

['apple', 'banana', 'grapes', 'orange']
{'apple': 15, 'banana': 10, 'grapes': 5, 'orange': 20}

In [52]:
from collections import orderedDict
fr={"banana":10,
    "apple":15,
    "orange":20}
orderdict=orderedDict(sorted(fr.items()))
print(type(orderdict),type(fr))

ImportError: cannot import name 'orderedDict' from 'collections' (C:\Users\91638\AppData\Local\Programs\Python\Python312\Lib\collections\__init__.py)

In [53]:
#sets
s={4,8,1,9,4,1}
print(s)

{8, 1, 4, 9}

In [56]:
l={5,7,11,1,5,11}
l1=set(l)
for i in l1:
    print(i,end=" ")

1 11 5 7

In [10]:
c
for i in ls:
    if(ls.count(i)==l):
        nl.append(i)
print(nl)

AttributeError: 'set' object has no attribute 'count'

In [16]:
s={4,8,1,9,4,1}
print(s)
#add is use to insert single elem
s.add((12,15,8))
s.add((12,15,8))
# update is use to insert multiple elem
s.update((11,19,21))
#remove element from set if present else give errors
s.remove(4)
#discard elem from set but  does'nt give error
s.discard(9)
print(s)
#for loop in set
for i in s:
    print(i)
#check element in present
if (9 in s):
    print("presen")
else:
    print("not present")

{8, 1, 4, 9}
{1, 8, 11, (12, 15, 8), 19, 21}
1
8
11
(12, 15, 8)
19
21
not present

In [25]:
#
ls=[5,7,11,1,5,11]
s=set()
for i in ls:
    if(i in s):
        s.remove(i)
    else:
        s.add(i)
print(s)

{1, 7}

In [28]:
# find duplicate value 
ls=[5,7,11,1,5,11]
s=set()
nl=[]
for i in ls:
    if(i in s):
        nl.append(i)
    else:
        s.add(i)
print(nl)

[5, 11]

In [2]:
fr=["banana","carrot","tomato","apple"]
veg=["carrot","tomato","bringle"]
s1=set(fr)
s2=set(veg)
print(s1&s2)#intersection of two set
print(s1|s2)#union of two set
print(s1^s2)#excllude item that present in both
print(s1-s2)#subtraction of s2 from s1
print(s2-s1)

{'carrot', 'tomato'}
{'apple', 'bringle', 'carrot', 'tomato', 'banana'}
{'apple', 'bringle', 'banana'}
{'banana', 'apple'}
{'bringle'}

In [6]:
#filter function
def my_fun(n):
    return n%2==0
ls=[11,19,15,12]
en=list(filter(my_fun,ls))
print(en)

[12]

In [7]:
ls=[11,19,15,12]
en=list(filter(lambda n: n%2==0,ls))
print(en)

[12]

In [12]:
ls=[("ram",19),("shyam",21),("rohan",16),("sohan",25)]
en=list(filter (lambda t:t[1]%2==0,ls))
print(en)

[('rohan', 16)]

In [13]:
#enumerate function
ls=[("ram",19),("shyam",21),("rohan",16),("sohan",25)]
for i in ls:
    print(i)

('ram', 19)
('shyam', 21)
('rohan', 16)
('sohan', 25)

In [14]:
ls=[("ram",19),("shyam",21),("rohan",16),("sohan",25)]
for idx,val in enumerate(ls):
    print(idx,val)

0 ('ram', 19)
1 ('shyam', 21)
2 ('rohan', 16)
3 ('sohan', 25)

In [16]:
name=["shyam","ram","rohan","sohan","sita"]
age=[19,21,30,24,16]
for nam,ag in zip(name,age):
    print(nam,ag)

shyam 19
ram 21
rohan 30
sohan 24
sita 16

In [17]:
name=["shyam","ram","rohan","sohan","sita"]
age=[19,21,30,24,16]
data={}
for nam,ag in zip(name,age):
    print(nam,ag)
    data[nam]=ag
print(data)

shyam 19
ram 21
rohan 30
sohan 24
sita 16
{'shyam': 19, 'ram': 21, 'rohan': 30, 'sohan': 24, 'sita': 16}

In [24]:
l=[[1,2,3],
   [5,7,9],
   [11,15,17,12]]
for j in range (3):
    for i in l[j]:
        print(i,end=" ")
    print()

1 2 3
5 7 9
11 15 17 12

In [28]:
mat=[[1,2,3],
     [5,7,9],
     [11,15,17,19]]
for ls in mat:
    for i in ls:
        print(i,end=" ")
    print(i)

1 2 3 3
5 7 9 9
11 15 17 19 19

In [ ]:
def addtolist(listcontainer):
    listcontainer +=[10]
mylistcontainer =[10,20,30,40]

In [35]:
check1=["learn","quiz","practice","contribute"]
check2= check1
check3=check1[:]

check2[0]="code"
check3[1]="Mcq"

count=0
for c in(check1,check2,check3):
    print(c)
    if c[0] == "code":
        count+=1
    if c[1] == "Mcq":
        count+=10

['code', 'quiz', 'practice', 'contribute']
['code', 'quiz', 'practice', 'contribute']
['learn', 'Mcq', 'practice', 'contribute']

In [7]:
s= "code practice quiz geeks"
ns=""
for st in s.split():
    print(st)
    ns+=st[-1::-1]+" "
print(ns)

code
practice
quiz
geeks
edoc ecitcarp ziuq skeeg

In [13]:
s= "code practice quiz geeks"
ns=""
" ".join(list(map(lambda st: st[-1::-1],s.split())))

'edoc ecitcarp ziuq skeeg'

In [28]:
#OOPS[object oriented programings]
class car():
    wheel=4
    window=5
    def __init__(self,model):#construction
        self.model = model#instance variable
    def milage(self,n,unit):#method
        print("avg is {2} is {0} {1}".format(n,unit,self.model)) 
suzuki =car("marti800")
suzuki .milage(20,"km")
suzuki1=car("lexus")
toyata = car("corolla")
toyata.milage(15,"miles")

avg is marti800 is 20 km
avg is corolla is 15 miles

In [35]:
class car():
    wheel=4
    window=5
    def __init__(self,model="none"):#constructor
        self.model = model#instance variable
    def milage(self,n,unit):#method
        print("avg is {2} is {0} {1}".format(n,unit,self.model)) 
    @staticmethod
    def topSpeed():
        print("220km/hr")
suzuki =car("marti800")
suzuki .milage(20,"km")
suzuki1=car("lexus")
suzuki1.milage(30,"km")
toyata = car("corolla")
toyata.milage(15,"miles")

hundai =car()
car.wheel ##class variable
suzuki.model ##objective instance variable
suzuki.wheel
car.topSpeed()##static method

avg is marti800 is 20 km
avg is lexus is 30 km
avg is corolla is 15 miles
220km/hr

In [42]:
#INHERITANCE
#single heritance
class car():
    wheel=4
    window=5
    def __init__(self,model="none"):#constructor
        self.model = model#instance variable
    def milage(self,n,unit):#method
        print("avg is {2} is {0} {1}".format(n,unit,self.model)) 
    @staticmethod
    def topSpeed():
        print("220km/hr")

class toyata(car):
    def__init__(self,model,issunroof):
         self sunroof=issunrooof
         car.__init__(srlf,model)

fortuner = toyata("fortuner",True)
fortuner.milage(22,"km")

SyntaxError: invalid syntax (1716793689.py, line 14)

In [50]:
#multi level heritance
class laptop():
    ram=8
    rom=512
    screen=16
    def __init__(self):
         pass

class Dell(laptop):
    colors="grey"
    def __init__(self):
        Laptop.__init__(self)
class Latitude(DELL):
    processor = "i5"
    def __init__(self):
        dell.__init__(self)

dell = DELL()
dell.colors

NameError: name 'dell' is not defined