In [ ]:
PANDAS

In [ ]:
#pip install pandas
#pip list

In [2]:
import pandas as pd

In [3]:
l = [1,2,3,4,5,6]
pd_sr = pd.Series(l)
print(pd_sr)

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64

In [21]:
d = {"ram":15,"shyam":14,"geeta":12}
sr = pd.Series(d)
print(sr)

ram      15
shyam    14
geeta    12
dtype: int64

In [ ]:
#tail

In [22]:
##data frame
l = [{"ram":15,"shyam":14,"gita":12},{"ram":15,"shyam":14,"gita":12}]
df =pd.DataFrame(l)
print(df)

   ram  shyam  gita
0   15     14    12
1   15     14    12

In [24]:
l = {"Name":["gita","sita"],"age":[1,2]}
df= pd.DataFrame(l,columns=["Name","age"])
print(df)

   Name  age
0  gita    1
1  sita    2

In [28]:
l = [["Sita",12],["Gita",14],["Ram",18]]
df= pd.DataFrame(l,columns=["Name","age"])
print(df.head())

   Name  age
0  Sita   12
1  Gita   14
2   Ram   18

In [8]:
##reading csv file
file = pd.read_csv(r"C:\Users\91638\Documents\data.csv")
print(file)

                 S NO. First Name Last Name                DOJ  Sal -Jan  \
0   alrady describtion        NaN       NaN                NaN       NaN
1                  NaN        NaN       NaN                NaN       NaN
2                  NaN        NaN       NaN                NaN       NaN
3                    1        Ram   Chuahan    26 January 2015    1500.0
4                    2      Gopal     Singh     07 August 2017    1700.0
5                    3      Manoj    Kumar       08 March 2012    1800.0
6                    4       Ramu    Singh     29 October 2018    1200.0
7                    5     Ramesh     Yadav  03 September 2020    2000.0
8                  NaN        NaN       NaN                NaN       NaN
9                  NaN        NaN       NaN                NaN       NaN
10                 NaN        NaN       NaN                NaN       NaN
11                 NaN        NaN       NaN                NaN       NaN
12                 NaN        NaN       NaN                NaN       NaN
13                 NaN        NaN       NaN                NaN       NaN
14                 NaN        NaN       NaN                NaN       NaN

    Sal-Feb  Sal-Mar  Sal Total  Avg Sal     Full Name
0       NaN      NaN        NaN      NaN           NaN
1       NaN      NaN        NaN      NaN           NaN
2       NaN      NaN        NaN      NaN           NaN
3    1200.0   1500.0     4200.0   1400.0    RamChuahan
4    1800.0   2000.0     5500.0   1833.0    GopalSingh
5    1500.0   1900.0     5200.0   1733.0  Manoj Kumar
6    1500.0   1800.0     4500.0   1500.0    RamuSingh
7    2500.0   2900.0     7400.0   2467.0   RameshYadav
8       NaN      NaN        NaN      NaN           NaN
9       NaN      NaN        NaN      NaN           NaN
10      NaN      NaN        NaN      NaN           NaN
11      NaN      NaN        NaN      NaN           NaN
12      NaN      NaN        NaN      NaN           NaN
13      NaN      NaN        NaN      NaN           NaN
14      NaN      NaN        NaN      NaN           NaN

In [5]:
df1= pd.DataFrame([{"ram":15,"shyam":14,"geeta":12},{"ram":15,"shyam":14,"geeta":18}])
df2= pd.DataFrame([{"rohan":13,"sohan":20,"geeta":12},{"rohan":20,"sohan":24,"geeta":12}])
print(df1)
print(df2)
m =pd.merge(df1,df2,on='geeta',how='inner')
print(m)

   ram  shyam  geeta
0   15     14     12
1   15     14     18
   rohan  sohan  geeta
0     13     20     12
1     20     24     12
   ram  shyam  geeta  rohan  sohan
0   15     14     12     13     20
1   15     14     12     20     24

In [7]:
df1= pd.DataFrame([{"ram":15,"shyam":14,"geeta":12},{"ram":15,"shyam":14,"geeta":18}])
df2= pd.DataFrame([{"rohan":13,"sohan":20,"geeta":12},{"rohan":20,"sohan":24,"geeta":12}])
print(df1)
print(df2)
m =pd.merge(df1,df2,on='geeta',how='outer')
print(m)

   ram  shyam  geeta
0   15     14     12
1   15     14     18
   rohan  sohan  geeta
0     13     20     12
1     20     24     12
   ram  shyam  geeta  rohan  sohan
0   15     14     12   13.0   20.0
1   15     14     12   20.0   24.0
2   15     14     18    NaN    NaN

In [8]:
df1= pd.DataFrame([{"ram":15,"shyam":14,"geeta":12},{"ram":15,"shyam":14,"geeta":18}])
df2= pd.DataFrame([{"rohan":13,"sohan":20,"geeta":12},{"rohan":20,"sohan":24,"geeta":12}])
print(df1)
print(df2)
m =pd.merge(df1,df2,on='geeta',how='right')
print(m)

   ram  shyam  geeta
0   15     14     12
1   15     14     18
   rohan  sohan  geeta
0     13     20     12
1     20     24     12
   ram  shyam  geeta  rohan  sohan
0   15     14     12     13     20
1   15     14     12     20     24

In [9]:
df1= pd.DataFrame([{"ram":15,"shyam":14,"geeta":12},{"ram":15,"shyam":14,"geeta":18}])
df2= pd.DataFrame([{"rohan":13,"sohan":20,"geeta":12},{"rohan":20,"sohan":24,"geeta":20}])
print(df1)
print(df2)
m =pd.merge(df1,df2,on='geeta',how='right')
print(m)

   ram  shyam  geeta
0   15     14     12
1   15     14     18
   rohan  sohan  geeta
0     13     20     12
1     20     24     20
    ram  shyam  geeta  rohan  sohan
0  15.0   14.0     12     13     20
1   NaN    NaN     20     20     24

In [10]:
df1= pd.DataFrame([{"ram":15,"shyam":14,"geeta":12},{"ram":15,"shyam":14,"geeta":18}])
df2= pd.DataFrame([{"rohan":13,"sohan":20,"geeta":12},{"rohan":20,"sohan":24,"geeta":12}])
print(df1)
print(df2)
m =pd.merge(df1,df2,on='geeta',how='left')
print(m)

   ram  shyam  geeta
0   15     14     12
1   15     14     18
   rohan  sohan  geeta
0     13     20     12
1     20     24     12
   ram  shyam  geeta  rohan  sohan
0   15     14     12   13.0   20.0
1   15     14     12   20.0   24.0
2   15     14     18    NaN    NaN

In [15]:
csv= pd.read_csv(r"C:\Users\91638\Documents\data.csv")
df = csv.mean
data = dict(df)
col= list(data.keys())
val= list(data.value())
print(col,val)
plt.plot(cooll,val,marker="D")
plot.show()

TypeError: 'method' object is not iterable